body{
    background-image: url(../imgs/river.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    color: aliceblue;
    text-align: center;
    margin-top: 500px;
    font-size: 120px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: head 3s infinite;
}

a{
    text-decoration: none;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    color: white;
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    scale: 1.4;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

.fa-facebook-f{
    color: white;
    margin-right: 200px;
    transition: 0.2s;
}

.fa-facebook-f:hover{
   text-shadow: 0px 0px 10px white;
}

.fa-facebook-f:active{
    color: red;
    text-shadow: 0px 0px 10px red;
}
.fa-instagram{
    color: white;
    margin-right: 200px;
    transition: 0.2s;
}

.fa-instagram:hover{
    text-shadow: 0px 0px 10px white;
}

.fa-instagram:active{
    color: red;
    text-shadow: 0px 0px 10px red;
}
.fa-telegram{
    color: white;
    margin-right: 200px;
    transition: 0.2s;
}

.fa-telegram:hover{
    text-shadow: 0px 0px 10px white;
}

.fa-telegram:active{
    color: red;
    text-shadow: 0px 0px 10px red;
}

.icons{
    margin-left: 670px;
    font-size: 50px;
}

@media screen and (max-width: 480px) {
    .icons{
        display: flex;
        margin-left: 50px;
    }
    .fa-instagram{
        margin-right: 80px;
        margin-left: -90px;
    }
    .fa-telegram{
        margin-right: -40px;
    }
    .fa-facebook-f{
        padding-left: -50px;
    }
    .head{
        margin-top: 200px;
        font-size: 70px;
    }
}

.rel{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120px;
    margin-left: 100px;
    margin-top: 100px;
}

.white-cov{
    background: white;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 600px;
}
@media screen (min-width: 480px) and (min-width:700px) {
    .head{
        margin-left: 50px;
        font-size: 170px;
    }
    .icons{
        display: flex;
        margin-left: 50px;
        font-size: 60px;
    }
}

@keyframes head {
    0%{
        text-shadow: 0px 0px 5px white;
    }
    50%{
        text-shadow: 0px 0px 20px white;
    }
    100%{
        text-shadow: 0px 0px 5px white;
    }
}